@font-face{
font-family:'MetaPro';
src: url('../fonts/MetaPro.ttf#') format(truetype);
}
body, html { margin: 0px; padding: 0px; border: 0px;}
html {background:#e7e7e7 url(../images/brain.png) no-repeat center center; }
 .page { width: 1024px; margin: 0 auto;}
    .ordernow { width: 400px; position: absolute; top: 0; left: 50%; margin-left: -200px;}
      .ordernow .arrow { display: block; float:left; position: relative; width: 50px; height: 40px;margin:0; padding:0; border:0; background-image: url("../images/arrow.png"); background-repeat: no-repeat; background-position: 20px 16px;  cursor: pointer;}
      .ordernow .title {display: block; float:right; position: relative; font-family: Russia; color: #ffffff; margin:0; padding:0; border:0; font-size: 20px; font-weight: 400; width: 310px; height: 23px; margin-top:10px; cursor: pointer;}
      .ordernow .opened {display: block; float:left; position: relative; width: 50px; height: 40px;margin:0; padding:0; border:0; background-image: url("../images/arrow.png"); background-repeat: no-repeat; cursor: pointer; background-position: 15px -29px!important; }
      .ordernow .none {display:none!important;}
        .ordernow h2 span{ display: inline-block; margin-left: 80px; margin-top: 10px; }
      .ordernow .order { display: block; position: relative; z-index: 9999; width: 100%; position: relative; background: #b74f46; height: 405px; border-radius: 0 0 5px 5px; margin-top:-370px}
        .ordernow .order .line {display: inline-block; vertical-align: top; padding-left: 20px; padding-top: 9px; position: relative;}
          .ordernow .order .line label{font-family: MetaPro; font-style: italic; font-size: 14px; color:  #e8e8e8; vertical-align: top;}
          .ordernow .order .line input{margin:0; padding:0; border:0; padding-left: 5px; border-radius: 3px; border: 1px solid #b5b6b6; width: 355px; height: 24px; background-image: url("../images/inputBg.png"); background-position: right top; color: #989898;; font-size: 13px !important; font-style: Italic;}
          .ordernow .order .line textarea{margin:0; padding:0; border:0; padding-left: 5px; border-radius: 3px; border: 1px solid #b5b6b6; width: 355px; height: 100px; background-image: url("../images/inputBg.png"); background-position: right top; color: #989898;; font-size: 13px !important; font-style: Italic;}
            .ordernow .order .line .halfline{margin:0; padding:0; border:0; width:180px; display: inline-block; vertical-align: top; position: relative;}
            .ordernow .order .line .right {width:157px; margin-left: 21px;}
            .ordernow .order .line .halfline input{width: 150px;}
          .ordernow .order .slider {padding-bottom:10px;}
          .ordernow .order .line .podpisy, .ordernow .order .line .podpisy span{margin: 0px; padding: 0px; border: 0px; display: block; position: relative;}
          .ordernow .order .line .podpisy {width: 360px; height:20px;}
            .ordernow .order .line .podpisy span {font-family: MetaPro; color:  #ffffff; font-size: 14px; font-weight: 400;}
            .ordernow .order .line .podpisy .podpleft{float:left;}
            .ordernow .order .line .podpisy .podpright{float:right;}
          .ordernow .order .line .budjet {width:360px; height:1px; background-color:  #e8e8e8; position:relative; margin:0 auto; padding:0; border:0;}
          .ordernow .order .line .time {width:360px; height:1px; background-color:  #e8e8e8; position:relative; margin:0 auto; padding:0; border:0;}
          .ui-slider-range{background:#e8e8e8!important;}
          .ui-slider-handle {padding:0; border:0!important; border-radius:0!important; background:#e8e8e8!important; width:20px!important; height:20px!important; margin-top:-5px!important;}
            .ordernow .order .submit {margin:0; padding:0; border:0; bottom:0; right:0; display: block; float:right; margin-right:20px; position: absolute; cursor: pointer; width: 127px; height: 30px; border-radius: 3px 3px 0 0; background-color: #a7443b; font-family: Russia; font-size: 14px; color:#fff; font-weight: 400;}
          .ordernow .order .line .inputError {position: absolute; padding: 2px 5px 2px 5px; background: red; color: #fff; font-family: Arial; font-size: 14px; top: 8px; right: 18px; display: none; border-radius: 3px;}
          .ordernow .order .line .inputErrorBlock {display: block;}
          .ordernow .order .line .halfline .inputError { top: 0px!important; right: -18px!important;}
    .header {width: 1024px; height: 110px; margin-top:40px}
      .logo { width: 250px; height: 100px; float:left;}
      .info { width: 250px; height: 100px; float:right;}
        .info .phone {width: 250px; height: 35px; background-image: url("../images/phone.png"); background-repeat: no-repeat; background-position: 0px 0px; margin-bottom: 20px;}
          .info .phone h2 { margin-left: 32px; font-family: Russia; color:#000000; font-size: 26px; font-weight: 400;}
        .info .email {width: 250px; height: 35px; background-image: url("../images/email.png"); background-repeat: no-repeat; background-position: 0px 0px;}
          .info .email a { margin-left: 40px; font-family: Russia; text-decoration:none; color:#000000; font-size:20px; font-weight: 400;}
    .wrapper {position: relative; display:block; width: 1024px; height:800px; background-image: url("../images/bgwrapper.png"); background-repeat: no-repeat; background-position: 50% 35%;}
      .marketing {position: absolute; display:block; width: 320px; height:25px; font-family: Russia; color:  #6d988c; font-size: 26px; font-weight: 700; margin: 140px 0 0 580px;}
      .markaround {position: absolute; display:block; width: 137px; height:138px;  border-radius: 50%; margin: 62px 0 0 405px; text-align: center; border:20px solid transparent; text-decoration: none;}
        .markaround span{position: relative; display: block; margin-top: 100px; text-decoration: none; font-family: Russia; color:  #ffffff; font-size: 16px; font-weight: 400;}
        .markaround:hover{opacity: 0.44; border:20px solid #acd2ec;}
        .red {color:  #a64e4e;}
      .service {position: absolute; display:block; width: 150px; height:25px; font-family: Russia; color:  #886890; font-size: 26px; font-weight: 700; margin: 610px 0 0 100px;}
      .servaround {position: absolute; display:block; width: 122px; height:122px;  border-radius: 50%; margin: 435px 0 0 202px; text-align: center; border:20px solid transparent; text-decoration: none;}
        .servaround:hover{opacity: 0.44; border:20px solid #dfa0a0;}
        .servaround span{ position: relative; display: block; margin-top: 90px; text-decoration: none; font-family: Russia; color:  #ffffff; font-size: 16px; font-weight: 400;}
      .development {position: absolute; display:block; width: 240px; height:25px; font-family: Russia; color:  #595959; font-size: 26px; font-weight: 700; margin: 270px 0 0 180px;}
      .devaround {position: absolute; display:block; width: 226px; height:226px;  border-radius: 50%; margin: 269px 0 0 365px; text-align: center; border:20px solid transparent; text-decoration: none;}
        .devaround:hover{opacity: 0.44; border:20px solid #7e9eb8;}
        .devaround span{ position: relative; display: block; margin-top: 180px; text-decoration: none; font-family: Russia; color:  #ffffff; font-size: 16px; font-weight: 400;} 
      .portfolio {position: absolute; display:block; width: 160px; height:25px; font-family: Russia; color:  #7491b4; font-size: 26px; font-weight: 700; margin: 620px 0 0 780px;}
      .portaround {position: absolute; display:block; width: 150px; height:150px;  border-radius: 50%; margin: 422px 0 0 632px; text-align: center; border:20px solid transparent; text-decoration: none;}
        .portaround:hover{opacity: 0.44; border:20px solid #b2d4ca;}
        .portaround span{ position: relative; display: block; margin-top: 110px; text-decoration: none; font-family: Russia; color:  #ffffff; font-size: 16px; font-weight: 400;}
    .footer {position: relative; display:block; width: 1024px; margin:0 auto}
      .adress {text-align:center; font-family: Russia; color:  #000000; font-size: 20px; font-weight: 700;}
  #overlay {background: #000; position: fixed; top: 0; left: 0; height: 100%; width: 100%; opacity: 0.5; z-index: 999; display: none; }
  .popup {width: 373px; text-align: center; background: #fff; position: fixed; top: 50%; left: 50%; box-shadow: 0 3px 3px rgba(0,0,0,0.5),inset 0 0 60px rgba(0,0,0,0.2); color: #000; z-index: 1000; display: none;}



